---
import { getCollection } from "astro:content";
import BlogItem from "./BlogItem.astro";
import RssIcon from "../components/Icons/Rss.astro";

const posts = await getCollection("blog"); // Posts are a Data Object

console.log(posts); // Debuggear
---

<div class="blog-container my-[30px] mx-auto max-w-xl">
  <div>
    <div class="flex justify-center mb-4">
      <a
        href="/feed_rss.xml"
        aria-label="RSS Feed"
        class="flex items-center text-gray-600 hover:text-gray-900"
      >
        <RssIcon class="w-5 h-5 mr-2" />
        <span class="text-sm">Subscribe to RSS Feed</span>
      </a>
    </div>
    <header class="text-2xl font-bold justify-center">
      Blog Post and Publications
    </header>
    <div style="height: 2px; background-color: #e5e7eb; margin: 10px 0;"></div>
    {
      posts.map((post) => (
        <BlogItem
          title={post.data.title}
          pubDate={post.data.pubDate}
          summary={post.data.summary}
          thumbnail={post.data.thumbnail}
          slug={post.id}
        />
      ))
    }
  </div>
</div>
